body div#wrapper div#content section article {
  vertical-align: middle;
}
body div#wrapper div#content section article h2 {
  margin: 0;
}
body div#wrapper div#content section article.two_birds {
  margin-top: 0.5%;
  text-align: center;
  width: 775px;
  height: 600px;
  padding-top: 15%;
  background-image: url("../images/radieli.jpg");
  background-color: rgba(163, 226, 131, 0.5);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 60%;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.75);
}
body div#wrapper div#content article#entertaimant {
  margin-top: 0.5%;
  height: 430px;
  overflow: hidden;
  vertical-align: middle;
}
body div#wrapper div#content article#entertaimant img#az {
  float: right;
}
body div#wrapper div#content article#entertaimant img#mobile {
  display: none;
}
body div#wrapper div#content article.upspace {
  margin-top: 0.5%;
}
body div#wrapper div#content article#dreams {
  margin-top: 0.5%;
}
body div#wrapper div#content article#dreams a {
  color: #000;
  text-decoration: none;
}
body div#wrapper div#content article#dreams:hover {
  color: #000;
}
body div#wrapper div#content article#dreams:visited {
  color: #000;
}
@media only screen and (max-width: 1264px) {
  html body div#wrapper div#content article {
    width: 90%;
  }
  html body div#wrapper div#content article.two_birds {
    min-width: 70%;
    min-height: 80%;
  }
}
@media only screen and (max-width: 980px) {
  html body div#wrapper div#content {
    background: none;
  }
  html body div#wrapper div#content article {
    width: 100%;
  }
  html body div#wrapper div#content article.two_birds {
    min-width: 100%;
    min-height: 100%;
  }
  html body div#wrapper div#content article#entertaimant {
    height: 100%;
  }
}
@media only screen and (max-width: 957px) {
  html body div#wrapper header div.global div.container {
    width: 100%;
  }
  html body div#wrapper header div.global div.container div.left.mainLogo {
    margin-left: 1%;
  }
  html body div#wrapper header div.global div.container div.right.contact a {
    display: none;
  }
  html body div#wrapper header nav.menu div.container {
    width: 100%;
  }
  html body div#wrapper div#content article.two_birds {
    background-image: url("../images/2-1.jpg");
    background-color: rgba(163, 226, 131, 0.5);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  html body div#wrapper footer div#footerg div.container {
    padding-left: 1%;
    width: 100%;
  }
  html body div#wrapper footer div#footerb div.container {
    width: 100%;
    padding-left: 1%;
  }
}
@media only screen and (max-width: 730px) {
  html body {
    font-size: 12px;
  }
  html body div#wrapper header nav.menu div.container ul li.quoteListItem a {
    font-size: 14px;
  }
  html body div#wrapper header nav.menu div.container ul li.switchListItem a {
    font-size: 14px;
  }
  html body div#wrapper header nav.menu div.container ul li.everythingListItem a {
    font-size: 14px;
  }
  html body div#wrapper header nav.menu div.container ul li.memberListItem a {
    font-size: 14px;
  }
  html body div#wrapper div#content article.two_birds {
    width: 450px;
    height: 348px;
  }
  html body div#wrapper div#content article#entertaimant img {
    float: none;
    margin: 0 5%;
  }
}
@media only screen and (max-width: 650px) {
  html body div#wrapper header div.global div.container div.right.contact button {
    display: inline-block;
  }
  html body div#wrapper header nav.menu div.container ul li.quoteListItem {
    width: 100%;
    float: none;
    display: none;
  }
  html body div#wrapper header nav.menu div.container ul li.quoteListItem a:hover {
    background: none;
  }
  html body div#wrapper header nav.menu div.container ul li.switchListItem {
    width: 100%;
    float: none;
    display: none;
  }
  html body div#wrapper header nav.menu div.container ul li.switchListItem a:hover {
    background: none;
  }
  html body div#wrapper header nav.menu div.container ul li.everythingListItem {
    width: 100%;
    float: none;
    display: none;
  }
  html body div#wrapper header nav.menu div.container ul li.everythingListItem a:hover {
    background: none;
  }
  html body div#wrapper header nav.menu div.container ul li.memberListItem {
    width: 100%;
    float: none;
    display: none;
  }
  html body div#wrapper header nav.menu div.container ul li.memberListItem a:hover {
    background: none;
  }
  html body div#wrapper footer div.footerb {
    float: none;
  }
  html body div#wrapper footer div.footerb div.container h3 {
    float: none;
  }
}
@media only screen and (max-width: 471px) {
  html body div#wrapper div#content article.two_birds {
    width: 100%;
    overflow: hidden;
  }
  html body div#wrapper div#content article#entertaimant img#az {
    margin-left: 0;
    display: none;
  }
  html body div#wrapper div#content article#entertaimant img#mobile {
    margin-left: 0;
    display: inline-block;
  }
  html body div#wrapper footer div#footerb {
    float: none;
  }
  html body div#wrapper footer div#footerb div.container {
    float: none;
  }
  html body div#wrapper footer div#footerb div.container h3 {
    float: none;
    display: block;
    margin: 0;
  }
}
@media only screen and (max-width: 400px) {
  html body div#wrapper header div.global div.container div.left.mainLogo a {
    width: 151px;
    background: url("../images/logo.png") center no-repeat;
  }
  html body div#wrapper header nav.menu div.container ul li.quoteListItem {
    text-align: left;
  }
  html body div#wrapper header nav.menu div.container ul li.switchListItem {
    text-align: left;
  }
  html body div#wrapper header nav.menu div.container ul li.everythingListItem {
    text-align: left;
  }
  html body div#wrapper header nav.menu div.container ul li.memberListItem {
    text-align: left;
  }
}
