html body div#wrapper header nav.menu div.container ul li.switchListItem {
  width: 33%;
}
html body div#wrapper header nav.menu div.container ul li.everythingListItem {
  width: 33%;
}
html body div#wrapper header nav.menu div.container ul li.memberListItem {
  width: 33%;
  color: #0000cc;
}
html body div#wrapper div#content {
  text-align: center;
}
html body div#wrapper div#content form label {
  font-size: 18px;
}
html body div#wrapper div#content form input[type="text"] {
  width: 60%;
  min-height: 15%;
  border-radius: 5px;
}
html body div#wrapper div#content form input[type="password"] {
  width: 60%;
  min-height: 15%;
  border-radius: 5px;
}
html body div#wrapper div#content form input[type="submit"] {
  font-size: 18px;
  width: 60%;
  min-height: 15%;
  margin-top: 1%;
  color: white;
  background-color: #A3E283;
  border-radius: 5px;
}
